
body {
  padding: 1ex;
  background-color: #dddddf;
}

.topLevelCard {
  position: relative;
  padding: 2ex;
  border-radius: 3ex;
  border: 3px solid gray;
  margin-bottom: 1ex;
  background-color: white;
}

.shown { display: block; }
.hidden { display: none; }

.taxOptimizer .settings {
  position: sticky;
  top: 0;
  background-color: white;
  border-radius: 1ex;
  border: 2px solid black;
  z-index: 400;
}

.taxOptimizer .settings header {
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

.taxOptimizer .settings main {
  margin-top: 0.5ex;
}

.taxOptimizer .settings header.expanded::before {
  content: '- '; 
}

.taxOptimizer .settings header.collapsed::before {
  content: '+ '; 
}

.taxOptimizer .settings #apply button {
  cursor: pointer;
}

.taxOptimizer #dimOverlay {
  background-color: white;
  opacity: 0.9;
  border-radius: 3ex;
  cursor: wait;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.taxOptimizer #dimOverlay main {
  position: sticky;
  font-size: 5em;
  font-weight: bold;
  top: 1em;
  text-align: center;
}

.chartContainer {
  margin-top: 1ex;
  border: 2px solid black;
  border-radius: 1ex;
}

.chartContainer > label {
  display: none;
}


